body {
    background: #333333;
    color: #adadad;
}

.chat-box {
    max-width: 1000px;
    min-height: 300px;

    background: rgb(26, 26, 26);
    border: 1px solid #464646;
    border-radius: 16px;
    padding: 16px;
}

.card {
    padding: 16px;
    margin: 20px;
}

.message {
    display: block;
    border: 1px solid #464646;
    border-radius: 16px;
    padding: 10px;
}

.send-row {
    display: flex;
    gap: 8px;
}

.send-row input {
    width: 100%;
}

.tpl-download-btn {
    display: inline-block; 
    padding: 10px 20px; 
    background: #007bff; 
    color: white; 
    text-decoration: none; 
    border-radius: 4px; 
    font-family: sans-serif; 
    font-weight: bold;
}

.tpl-img {
    display: none; 
    max-width: 100%; 
    height: auto;
}

.tpl-video {
    display: none; 
    width: 100%; 
    max-width: 640px; 
    aspect-ratio: 16/9; 
    background: #000;
}

.tpl-audio {
    display: none;
}

.tpl-iframe {
    display: none; 
    width: 100%; 
    height: 400px; 
    border: none;
}

.tpl-g-iframe {
    display: none; 
    width: 100%; 
    height: 400px; 
    border: none;
}