body {
    background: #333333;
    color: #adadad;
}

.chat-box {
    width: 600px;
    min-height: 300px;

    background: rgb(26, 26, 26);
    border: 1px solid #464646;
    border-radius: 16px;
    padding: 16px;
}

.card {
    padding: 16px;
    margin: 20px;
}

.message {
    border: 1px solid #464646;
    border-radius: 16px;
    padding: 10px;
}

.send-row {
    display: flex;
    gap: 8px;
}

.send-row input {
    width: 100%;
}
